{% extends 'master.html' %}

{% block content %}

            <!-- start container -->
            <div class="page-title-wrapper">
                <div class="page-title-outher">
                    <div class="page-title-inner">
                        <span class="page-title-icon flaticon-pizza-slice"></span>
                        <h1 class="page-title">Profile</h1>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- <div class="clear"></div> -->
            <div class="page-wrapper">
                <div class="offer-menu-wrapper">
                    <ul id="filters" class="single-offer-category-filter option-set" data-option-key="filter">
                        <li class="filter-cat"><a class="selected" href="#cat1" data-option-value=".cat1">Pizza</a></li>
                    </ul>
                    <div class="offer-menu-items" id ="cat1">
                            <div class="single-offer-category-item isotope-item cat1">
                                <div class="single-offer-item">
                                    <div class="single-offer-details">
                                        
                                        <div class="div">
                                            <label for="">{{profile.name}}</label>
                                
                                           </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>               
                        </div>
                        
                    </div>
                    <div class="clear"></div>
                </div>
            </div> -->
            <!-- end page wrapper

{% endblock %}
